.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.label{
  color: #333333;
}

.name {
  font-size: 1.3em;
}

.quote {
  font-size: 1.5em;
  font-style: italic;
  display: block;
  margin-left: 10px;
  border-left: solid 4px lightgrey;
  padding-left: 10px;
  color: #4f4f4f;

}